/*-----------------------------------------------
Purpose: Main CSS File
Version: 0.3
Author: Shimi Kahlon & Kobi Pimat
Designer: Eldad Tzadok
Date: 11-7-13
-----------------------------------------------*/


/* General Definitions */
*{
	margin: 0;
	padding: 0;
}

@font-face
{
	font-family: Open Sans Light, sans-serif;
	src: url(OpenSans-Light.eot),
		 url(OpenSans-Light.ttf),
		local(Open Sans);
}

body
{
	font-family: 'Open Sans Light', sans-serif;
	color: #FFFFFF;
	font-size: 12pt;
	background: #000000;
	overflow: hidden;
}

#wrapper
{
	width: 4440px;
	height: 6116px;
	position: relative;
}

.clear
{
	clear: both;
}

header, nav, section, article, aside, footer, p, a, ul, li
{
	color: #FFFFFF;
}

h1
{
	font-size: 28pt;
}

/* Navigation */
nav
{
	width: 100%;
	top: 60px;
	left: 0;
	margin: 0 auto;
	position: fixed;
	z-index: 100;
}

nav a:link, nav a:visited
{
	width: 7%;
	position: relative;
	left: 28%;
	font-size: 10pt;
	text-decoration: none;
	text-align: center;
	float: left;
	display: block;
}

nav a:hover
{
	color: silver;
}

/* Bullets animation */
@keyframes bullet1
{
	from {
		left: 2718px; 
		top: 13px;
	}
	to {
		left: 2600px;
		top: 0;
	}
}

@-webkit-keyframes bullet1
{
	from {
		left: 2718px; 
		top: 13px;
	}
	to {
		left: 2600px;
		top: 0;
	}
}

@keyframes bullet2
{
	from {
		top: 297px;
		left: 2585px;
	}
	to {
		left: 2500px;
		top: 287px;
	}
}

@-webkit-keyframes bullet2
{
	from {
		top: 297px;
		left: 2585px;
	}
	to {
		left: 2500px;
		top: 287px;
	}
}

@keyframes bullet3
{
	from {
		top: 495px;
		left: 2470px;
	}
	to {
		top: 510px;
		left: 2540px
	}
}

@-webkit-keyframes bullet3
{
	from {
		top: 495px;
		left: 2470px;
	}
	to {
		top: 510px;
		left: 2540px;
	}
}

@keyframes bullet4
{
	from {
		top: 470px;
		left: 2670px;
	}
	to {
		top: 350px;
		left: 2750px;
	}
}

@-webkit-keyframes bullet4
{
	from {
		top: 470px;
		left: 2670px;
	}
	to {
		top: 350px;
		left: 2750px;
	}
}

@keyframes bullet5
{
	from {
		left: 2580px;
		top: 660px;
	}
	to {
		left: 2500px;
		top: 670px;
	}
}

@-webkit-keyframes bullet5
{
	from {
		left: 2580px;
		top: 660px;
	}
	to {
		left: 2500px;
		top: 670px;
	}
}

@keyframes bullet6
{
	from {
		top: 600px;
		left: 2160px;
	}
	to {
		left: 2100px;
		top: 610px;
	}
}

@-webkit-keyframes bullet6
{
	from {
		top: 600px;
		left: 2160px;
	}
	to {
		left: 2100px;
		top: 610px;
	}
}

@keyframes bullet7
{
	from {
		top: 620px;
		left: 1790px;
	}
	to {
		left: 1800px;
		top: 600px;
	}
}

@-webkit-keyframes bullet7
{
	from {
		top: 620px;
		left: 1790px;
	}
	to {
		left: 1800px;
		top: 600px;
	}
}



/* Sections style */
#flylight, #idea, #concept, #design, #gallery, #project, #video
{
	width: 1280px;
	height: 814px;
	position: absolute;
}

#idea article h1, #design article h1, #gallery article h1, #project article h1 
{
	float: left;
	margin-right: 3.5%;
}

#idea article p, #gallery article p, #project article p
{
	float: left;
	padding-top: 0.6em;
}

/* Flylight section */
#flylight
{
	top: 0;
	left: 1580px;
}

#flylight article.mainArticle
{
	width: 16%;
	position: relative;
	top: 35%;
	left: 45%;
	text-align: center;
}
/* End Flylight section */

/* Idea section */
#idea
{
	top: 1324px;
	left: 3160px;
}

#idea article
{
	width: 60%;
	position: relative;
	top: 33%;
	left: 24%;
}
/* End Idea section */

/* Concept section */
#concept
{
	top: 1324px;
	left: 1580px;
}

#concept article
{
	width: 46%;
	position: relative;
	top: 27%;
	left: 20%;
}

#concept article h1
{
	float: left;
	margin-right: 3%;
}

#concept article p
{
	float: left;
	padding-top: 0.5em;	
}
/* End Concept section */

/* Design section */
#design
{
	top: 2650px;
	left: 0;
}

#design article
{
	width: 60%;
	position: relative;
	top: 32%;
	left: 39%;
}

#design article p
{
	float: left;
	padding-top: 0.85em;
}
/* End Design section */

/* Video section */
#video
{
	top: 2650px;
	left: 1580px;
	z-index: 1000;
}

#video aside
{
	width: 5%;
	height: 75%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1000;
	background: #000000;
}

iframe
{
	width: 100%;
	height: 80%;
}
/* End video section */

/* Gallery section */
#gallery
{
	background: url(../images/btrflys.png);
	top: 3976px;
	left: 1580px;
}

#gallery article
{
	width: 40%;
	position: relative;
	top: 33%;
	left: 29%;
}
/* End Gallery section */

/* Project section */
#project
{
	background: url(../images/project_btrfly.png);
	top: 5302px;
	left: 1580px;
}

#project article
{
	width: 85%;
	position: relative;
	top: 25%;
	left: 18%;
}
/* End Project section */

.hexagons
{
	position: absolute;
	left: 1654px;
	top: 1472px;
	z-index: 100;
}

/* Element to move */
#butterfly
{
	width: 165px;
	height: 137px;
	position: absolute;
	top: 210px;
	left: 2070px;
}


.bullet1, .bullet2, .bullet3, .bullet4, .bullet5, .bullet6, .bullet7, .wing, .iphone, .butterflys
{
	position: absolute;
	z-index: 10;
}

.bullet1
{
	animation: bullet1 12s linear infinite alternate;
	-webkit-animation: bullet1 12s linear infinite alternate;
}

.bullet2
{
	animation: bullet2 15s linear infinite alternate;
	-webkit-animation: bullet2 15s linear infinite alternate;
}

.bullet3
{
	animation: bullet3 12s linear infinite alternate;
	-webkit-animation: bullet3 12s linear infinite alternate;
}

.bullet4
{
	animation: bullet4 10s linear infinite alternate;
	-webkit-animation: bullet4 10s linear infinite alternate;
}

.bullet5
{
	animation: bullet5 14s linear infinite alternate;
	-webkit-animation: bullet5 14s linear infinite alternate;
}

.bullet6
{
	animation: bullet6 12s linear infinite alternate;
	-webkit-animation: bullet6 12s linear infinite alternate;
}

.bullet7
{
	animation: bullet7 4s linear infinite alternate;
	-webkit-animation: bullet7 4s linear infinite alternate;
}

.light 
{
	position: absolute;
	right: 0;
	top: 700px;
	z-index: -5;
	display: none;
}

.wing
{
	left: 2532px;
	top: 1766px;
	z-index: 100;
}

.iphone
{
	top: 230px;
	left: 265px;
}

#playbtn
{
	width: 71px;
	height: 72px;
	background: url(../images/play_btn.png);
	position: absolute;
	top: 340px;
	left: 526px;
	border: 0;
	cursor: pointer;
}

#playbtn:hover
{
	background: url(../images/play_btn_glow.png);
}

#closebtn
{
	width: 21px;
	height: 21px;
	background: url(../images/exit_video.png);
	position: absolute;
	top: 2%;
	left: 35%;
	border: 0;
	cursor: pointer;
	display: none;
	z-index: 1001;
}


@media (max-width: 1000px)
{
	#wrapper
	{
		width: 800px;
		height: 5216px;
		margin: 0 auto;
		position: relative;
	}

	body
	{
		font-size: 8pt;
		overflow: scroll;
	}

	h1
	{
		font-size: 24pt;
	}

	/* Navigation */
	nav
	{
		width: 100%;
		top: 30px;
		left: 0;
		margin: 0 auto;
		position: fixed;
		z-index: 100;
	}

	nav a:link, nav a:visited
	{
		width: 5%;
		margin-right: 2%;
		position: relative;
		left: 30%;
		font-size: 8pt;
		text-decoration: none;
		text-align: center;
		float: left;
		display: block;
	}

	nav a:hover
	{
		color: silver;
	}

	/* Bullets animation */
	@keyframes bullet1
	{
		from {
			left: 92%; 
			top: -5%;
		}
		to {
			left: 85%;
			top: 0;
		}
	}

	@-webkit-keyframes bullet1
	{
		from {
			left: 92%; 
			top: -5%;
		}
		to {
			left: 85%;
			top: 0;
		}
	}

	@keyframes bullet2
	{
		from {
			top: 5%;
			left: 78%;
		}
		to {
			left: 75%;
			top: 4%;
		}
	}

	@-webkit-keyframes bullet2
	{
		from {
			top: 5%;
			left: 78%;
		}
		to {
			left: 75%;
			top: 4%;
		}
	}

	@keyframes bullet3
	{
		from {
			top: 9%;
			left: 67%;
		}
		to {
			top: 8%;
			left: 65%;
		}
	}

	@-webkit-keyframes bullet3
	{
		from {
			top: 9%;
			left: 67%;
		}
		to {
			top: 8%;
			left: 65%;
		}
	}

	@keyframes bullet4
	{
		from {
			top: 8%;
			left: 87%;
		}
		to {
			top: 7%;
			left: 84%;
		}
	}

	@-webkit-keyframes bullet4
	{
		from {
			top: 8%;
			left: 87%;
		}
		to {
			top: 7%;
			left: 84%;
		}
	}

	/* Sections style */
	#flylight, #idea, #concept, #design, #gallery, #project, #video
	{
		width: 96%;
		position: absolute;
		left: 2%;
		margin-bottom: 1.6%;
	}	

	/* Flylight section */
	#flylight
	{
		top: 0;
	}

	#flylight article.mainArticle
	{
		width: 18%;
		position: relative;
		top: 34%;
		left: 47%;
		text-align: center;
	}
	/* End flylight section */

	/* Idea section */
	#idea
	{
		top: 17%;
	}

	#idea article
	{
		width: 60%;
		position: relative;
		top: 33%;
		left: 24%;
	}
	/* End Idea section */

	/* Concept section */
	#concept
	{
		top: 34%;
	}

	#concept article
	{
		width: 46%;
		position: relative;
		top: 15%;
		left: 35%;
	}

	#concept article h1
	{
		float: left;
		margin-right: 3%;
	}
	/* End Concept section */

	/* Design section */
	#design
	{
		top: 51%;
	}

	#design article
	{
		width: 60%;
		position: relative;
		top: 30%;
		left: 40%;
	}

	#design article p
	{
		padding-top: 0.5em;
	}
	/* End Design section */

	/* Video section */
	#video
	{
		top: 51%;
		left: 105%;
		display: none;
	}

	video
	{
		width: 100%;
		height: 80%;
	}
	/* End video section */

	/* Gallery section */
	#gallery
	{
		top: 68%;
		background: url(../images/gallery_tablet.png) no-repeat;
	}

	#gallery article
	{
		width: 50%;
		position: relative;
		top: 33%;
		left: 29%;
	}
	/* End Gallery section */

	/* Project section */
	#project
	{
		top: 85%;
		background: url(../images/project_tablet.png);
	}

	/* Element to move */
	#butterfly
	{
		width: 165px;
		height: 137px;
		position: absolute;
		top: 4%;
		left: 35%;
		z-index: 10;
	}

	.hexagons
	{
		width: 800px;
		height: 547px;
		position: absolute;
		left: 3%;
		top: 36%;
		z-index: 100;
	}

	.bullet1, .bullet2, .bullet3, .bullet4, .bullet5, .bullet6, .bullet7, .wing
	{
		position: absolute;
		z-index: 10;
	}

	.bullet1
	{
		animation: bullet1 12s infinite alternate;
		-webkit-animation: bullet1 12s infinite alternate;
	}

	.bullet2
	{
		animation: bullet2 30s infinite alternate;
		-webkit-animation: bullet2 30s infinite alternate;
	}

	.bullet3
	{
		animation: bullet3 35s infinite alternate;
		-webkit-animation: bullet3 35s infinite alternate;
	}

	.bullet4
	{
		animation: bullet4 30s infinite alternate;
		-webkit-animation: bullet4 30s infinite alternate;
	}

	.bullet5
	{
		top: 11%;
		left: 82%;
	}

	.bullet6
	{
		top: 8%;
		left: 20%;
	}

	.bullet7
	{
		top: 12%;
		left: 0;
	}

	.wing
	{
		width: 80px;
		height: 100px;
		left: 67%;
		top: 39.3%;
	}

	#playbtn
	{
		width: 71px;
		height: 72px;
		background: url(../images/play_btn.png);
		position: absolute;
		top: 37%;
		left: 43%;
		border: 0;
		cursor: pointer;
	}
}
